@font-face {
	font-family: 'Comfortaa';
	src: url(https://fonts.gstatic.com/s/comfortaa/v47/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4WjMDrMfIA.woff2) format('woff2'),
	url(https://dgbooky.tech/assets/fonts/Comfortaa-3a0223f8e523692f03de0e73a62f16f1.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

